/*----------common----------*/

html,
body {
	width: 100%;
	height: 100%;
}
html {
	/*1rem ≈ 100px (if 1920x1080)*/
    font-size: calc(3.5vh + 3vw);
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}
html,
body,
p,
h1,
h2,
ul {
	margin: 0;
	padding: 0;
}
#header_home,
#header_list,
.header_list_item,
#header_nav,
.production_container_item,
.production_title_container,
#manufacture,
.manufacture_description_container,
.information_container,
.information_description_container,
#mobile_menu_container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
}
body.showing_menu {
	overflow: hidden;
}
#main_logo_container img,
#back_to_top_container img  {
	display: block;
	width: 100%;
	font-size: .3rem;
	line-height: .4rem;
	text-transform: uppercase;
}
.section_title {
	display: block;
	font-size: .5rem;
	line-height: .6rem;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
.production_arrow,
#mobile_menu_container,
#mobile_menu_container:before,
#mobile_menu_container:after,
.mobile_menu_item {
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.moving_right {
	left: 100% !important;
}
.moving_left {
	left: -100% !important;
}
.hidden_arrow {
	display: none !important;
}
.attention_text {
	font-weight: bold !important;
}
.dymainc_link {
	position: relative;
	text-decoration: none;
	color: #fff;
}
.dymainc_link:after {
	content: '';
	display: block;
	width: 100%;
	max-width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: -.05rem;
	background-color: #fff;
	transition: .4s ease;
}
.dymainc_link:hover:after {
	max-width: 100%;
}

/*----header----*/

#header_home {
	width: 100%;
	height: auto;
	min-height: 100px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	/*background-color: rgba(111, 154, 141, .7);*/
	background-color: rgba(62, 160, 13, .7);
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	transition: .2s ease;
	box-sizing: border-box;
	padding: .2rem 5%;
	padding-left: 15%;
	z-index: 10;
}
#header_home:hover {
	/*background-color: rgba(111, 154, 141, 1);*/
	/*background-color: rgba(54, 181, 176, 1);*/
	background-color: rgba(62, 160, 13, 1);
}
#main_logo_container {
	display: block;
	position: absolute;
	top: 15%;
	left: 3%;
	width: 8%;
	height: auto;
	cursor: pointer;
}
a.main_title_link {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.main_title_link h1,
.header_title {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: .6rem;
	line-height: .6rem;
	text-transform: uppercase;
	text-shadow: .03rem .03rem .05rem #f7be16,
/*		-.01rem -.01rem 0 #f7be16,*/
		0 0 .1rem #000000;
	/*font-family: 'Pochaevsk';*/
	font-family: 'Slavianskiy';
	color: #ffeecc;
}
#header_nav {
	height: 100%;
	width: 55%;
}
#header_list {
	width: 100%;
	height: 100%;
	margin: 0;
}
.header_list_item {
	width: auto;
	height: auto;
	padding: .1rem .15rem;
	box-sizing: border-box;
	border-radius: .1rem;
}
.header_list_item a {
	font-size: .2rem;
	line-height: .2rem;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Slavianskiy';
}
#mobile_menu_container,
.header_nav_click_zone,
.header_list_item.mobile_link_item {
	display: none;
}

/*----footer----*/

#footer_home {
	display: block;
	width: 100%;
	height: auto;
	min-height: 400px;
	background-color: #3EA00D;
	padding: 5% 10%;
	box-sizing: border-box;
	position: relative;
}
.contacts_title {
	display: block;
	text-align: left;
	font-size: .5rem;
	line-height: .6rem;
	color: #fff;
	text-transform: uppercase;
}
.contacts_item {
	display: block;
	text-align: left;
	font-size: .3rem;
	line-height: .6rem;
	color: #fff;
	text-transform: uppercase;
}
.contacts_link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	position: relative;
}
.white_logo {
	display: block;
	height: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	margin: auto 0;
	font-size: .3rem;
	line-height: .4rem;
}

@media screen and (orientation:portrait) {

	/*----header----*/

	#header_home {
		justify-content: space-between;
		min-height: 150px;
		position: relative;
		background-color: rgba(62, 160, 13, 1);
		padding: .2rem 3%;
	}
	#main_logo_container {
		position: static;
		top: 20%;
		left: 5%;
		width: 20%;
	}
	a.main_title_link {
		height: .7rem;
		text-align: left;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 25%;
		margin: auto 0;
	}
	h1 {
		font-size: .7rem;
		line-height: .7rem;
	}
	#header_nav {
		flex-wrap: nowrap;
		position: fixed;
		top: 0;
		left: 100vw;
		height: 100vh;
		width: 100vw;
		transition: .2s ease;
	}
	.header_nav_click_zone {
		display: block;
		width: 40vw;
		height: 100%;
	}
	#mobile_menu_container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		width: 1rem;
		height: .8rem;
		position: relative;
		z-index: 100;
	}
	#mobile_menu_container:before,
	#mobile_menu_container:after,
	.mobile_menu_item {
		content: '';
		width: 100%;
		height: .1rem;
		left: 0;
		right: 0;
		background-color: #fff;
		border-radius: .05rem;
		transition: .2s ease;
	}
	#mobile_menu_container:before {
		position: absolute;
		top: 0;
	}
	#mobile_menu_container:after {
		position: absolute;
		bottom: 0;
	}
	body.showing_menu #mobile_menu_container:before {
		transform: translateY(.35rem) rotate(45deg);
	}
	body.showing_menu #mobile_menu_container:after {
		transform: translateY(-.35rem) rotate(-45deg);
	}
	body.showing_menu .mobile_menu_item {
		opacity: 0;
	}
	body.showing_menu #header_nav {
		left: 0;
	}
	#header_list {
		width: 60vw;
		flex-direction: column;
		justify-content: space-between;
		-ms-align-items: flex-start;
		align-items: flex-start;
		flex-wrap: nowrap;
		padding: 3rem 0;
		/*padding-bottom: 2rem;*/
		box-sizing: border-box;
		background-color: #6f9a8d;
		box-shadow: 0 0 .5rem .01rem #555;
	}
	.header_list_item {
		width: 90%;
		height: auto;
		padding: .1rem .15rem;
		box-sizing: border-box;
		border-radius: .1rem;
		/*color: #36b5b0;*/
		color: #fff;
		margin: 0;
		margin-top: .2rem;
		margin-left: 10%;
		position: relative;
		-webkit-user-select: none;
	    -moz-user-select: -moz-none;
	    -ms-user-select: none;
	    user-select: none;
	    outline: none;
	}
	.header_list_item:after {
		content: '';
		display: block;
		width: 100%;
		height: .05rem;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
	}
	.header_list_item a {
		text-align: left;
		font-size: .5rem;
		line-height: .6rem;
		text-decoration: none;
		color: #fff;
	}
	.header_list_item.mobile_link_item {
		display: block;
		width: 80%;
		margin-left: 20%;
		margin-top: 0;
	}
	.header_list_item.mobile_link_item:after {
		display: none;
	}
	.header_list_item.mobile_link_item a {
		font-size: .4rem;
		line-height: .5rem;
	}

	/*----footer----*/

	#footer_home {
		padding: 5%;
		padding-bottom: 10%;
	}
	.contacts_title {
		width: 100%;
		text-align: center;
		font-size: .45rem;
		line-height: .6rem;
		color: #fff;
		text-transform: uppercase;
	}
	.contacts_item {
		font-size: .35rem;
		line-height: .6rem;
		margin-top: .8rem;
	}
	.contacts_link {
		border-bottom: 4px solid #fff !important;
	}
	.white_logo {
		height: auto;
		position: static;
		margin: 0 auto;
		margin-top: .5rem;
		width: 60%;
	}
}